@keyframes fall{
    0%{
        top:0%;
    }
    100%{ 
        top:110%; 
    }
}
.coffee .coffee1{
    left:10%; 
    animation:fall 4s linear infinite ;
    position:absolute ;
}
.coffee .coffee2{
    left:11%; 
    animation:fall 3s linear infinite ;
    position:absolute ;
}
.coffee .coffee3{
    left:30%; 
    animation:fall 2s linear infinite ;
    position:absolute ;

}
.coffee .coffee4{
    left:40%; 
    animation:fall 5s linear infinite ; 
    position:absolute ;

}
.coffee .coffee5{
    left:50%; 
    animation:fall 6s linear infinite ; 
    position:absolute ;

}
.coffee .coffee6{
    left:60%; 
    animation:fall 7s linear infinite ; 
    position:absolute ;

}
.coffee .coffee7{
    left:70%; 
    animation:fall 3s linear infinite ; 
    position:absolute ;

}
.coffee .coffee8{
    left:80%; 
    animation:fall 4s linear infinite ; 
    position:absolute ;

}
.coffee .coffee9{
    left:90%; 
    animation:fall 5s linear infinite ; 
    position:absolute ;

}  
